<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__social">
        <ul class="header__social-list">
          <li class="header__social-link">
            <a class="link-icon" href="#">
              <img src="images/icons/vk.png" alt="">
            </a>
          </li>
          <li class="header__social-link">
            <a class="link-icon" href="#">
              <img src="images/icons/discord.png" alt="">
            </a>
          </li>
          <li class="header__social-link">
            <a class="link-icon" href="#">
              <img src="images/icons/twitch.png" alt="">
            </a>
          </li>
        </ul>
      </div>
      <a class="header__logo" href="#">
        <img class="header__logo-img" src="images/logo.png" alt="">
      </a>
    </div>
  </div>
</header>